@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

:root {
  --color-primary: #6c9bcf;
  --color-danger: #ff0060;
  --color-success: #1b9c85;
  --color-warning: #f7d060;
  --color-white: #fff;
  --color-info-dark: #7d8da1;
  --color-dark: #363949;
  --color-light: rgba(132, 139, 200, 0.18);
  --color-dark-variant: #677483;
  --color-background: #f6f6f9;

  --card-border-radius: 2rem;
  --border-radius-1: 0.4rem;
  --border-radius-2: 1.2rem;

  --card-padding: 1.8rem;
  --padding-1: 1.2rem;

  --box-shadow: 0 2rem 3rem var(--color-light);
}

.dark-mode-variables {
  --color-background: #181a1e;
  --color-white: #202528;
  --color-dark: #edeffd;
  --color-dark-variant: #a3bdcc;
  --color-light: rgba(0, 0, 0, 0.4);
  --box-shadow: 0 2rem 3rem var(--color-light);
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #e4e4e4;
}

::-webkit-scrollbar {
  width: 12px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: var(--color-primary);
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  appearance: 0;
  border: 0;
  text-decoration: none;
  box-sizing: border-box;
}

html {
  font-size: 14px;
}

body {
  width: 88vw;
  height: 100vh;
  font-family: "Poppins", sans-serif;
  font-size: 0.88rem;
  user-select: none;
  overflow-x: hidden;
  color: var(--color-dark);
  background-color: var(--color-background);
}

a {
  color: var(--color-dark);
}

img {
  display: block;
  width: 100%;
  object-fit: cover;
}

h1 {
  font-weight: 800;
  font-size: 1.8rem;
}

h2 {
  font-weight: 600;
  font-size: 1.4rem;
}

h3 {
  font-weight: 500;
  font-size: 0.87rem;
}

small {
  font-size: 0.76rem;
}

p {
  color: var(--color-dark-variant);
}

b {
  color: var(--color-dark);
}

.text-muted {
  color: var(--color-info-dark);
}

.primary {
  color: var(--color-primary);
}

.danger {
  color: var(--color-danger);
}
.itemProd3{
  font-size: 13px;
}
.bold {
  font-weight: bold;
  text-align: center;
  display: flex;
  align-items: center;
}
.bold span {
  margin-right: 5px;
  /* font-size: 15px; */
}
.success {
  color: var(--color-success);
}

.warning {
  color: var(--color-warning);
}

.container {
  display: grid;
  width: 96%;
  margin: 0 auto;
  gap: 1.8rem;
  grid-template-columns: 12rem auto 0;
}

.info {
  text-align: center;
}
.itemProd input {
  display: none;
  border-radius: 0.4rem;
  width: 80%;
  border: 1px solid var(--color-light);
  padding: 0.9rem 1.2rem;
  font-size: 1rem;
  color: var(--color-dark);
  transition: all 0.3s ease;
}

aside {
  height: 100vh;
}

aside .toggle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1.4rem;
}

aside .toggle .logo {
  display: flex;
  gap: 0.5rem;
}

aside .toggle .logo img {
  height: 2.5rem;
  margin-left: 65% !important;
  margin: 0;
}

aside .toggle .close {
  padding-right: 1rem;
  display: none;
}

aside .sidebar {
  display: flex;
  flex-direction: column;
  background-color: var(--color-white);
  box-shadow: var(--box-shadow);
  border-radius: 15px;
  height: 88vh;
  position: relative;
  top: 1.5rem;
  transition: all 0.3s ease;
}

aside .sidebar:hover {
  box-shadow: none;
}

aside .sidebar a {
  display: flex;
  align-items: center;
  color: var(--color-info-dark);
  height: 3.7rem;
  gap: 1rem;
  position: relative;
  margin-left: 2rem;
  transition: all 0.3s ease;
}

aside .sidebar a span {
  font-size: 1.6rem;
  transition: all 0.3s ease;
}

aside .sidebar a:last-child {
  position: absolute;
  bottom: 2rem;
  width: 100%;
}
aside .sidebar a.active {
  width: 100%;
  border-radius: 15px;
  color: var(--color-primary);
  background-color: var(--color-light);
  margin-left: 0;
}

aside .sidebar a.active::before {
  content: "";
  width: 6px;
  height: 18px;
  background-color: var(--color-primary);
}

aside .sidebar a.active span {
  color: var(--color-primary);
  margin-left: calc(1rem - 3px);
}

aside .sidebar a:hover {
  color: var(--color-primary);
}

aside .sidebar a:hover span {
  margin-left: 0.6rem;
}

aside .sidebar .message-count {
  background-color: var(--color-danger);
  padding: 2px 6px;
  color: var(--color-white);
  font-size: 11px;
  border-radius: var(--border-radius-1);
}

main {
  margin-top: 1.4rem;
}

main .analyse {
  display: grid;
  grid-template-columns: repeat(2, 5fr);
  justify-content: center;
  justify-items: center;
}

main .analyse > div {
  background-color: var(--color-white);
  padding: var(--card-padding);
  grid-area: 2;
  padding-inline: 5rem !important;
  border-radius: var(--card-border-radius);
  margin-top: 1rem;
  box-shadow: var(--box-shadow);
  cursor: pointer;
  transition: all 0.3s ease;
}

main .analyse > div:hover {
  box-shadow: none;
}

main .analyse > div .status {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

main .analyse h3 {
  margin-left: 0.6rem;
  font-size: 1rem;
}

main .analyse .progresss {
  position: relative;
  width: 92px;
  height: 92px;
  border-radius: 50%;
}

main .analyse svg {
  width: 7rem;
  height: 7rem;
}

main .analyse svg circle {
  fill: none;
  stroke-width: 10;
  stroke-linecap: round;
  transform: translate(5px, 5px);
}

main .analyse .sales svg circle {
  stroke: var(--color-success);
  stroke-dashoffset: -30;
  stroke-dasharray: 200;
}

main .analyse .visits svg circle {
  stroke: var(--color-danger);
  stroke-dashoffset: -30;
  stroke-dasharray: 200;
}

main .analyse .searches svg circle {
  stroke: var(--color-primary);
  stroke-dashoffset: -30;
  stroke-dasharray: 200;
}
.search {
  justify-content: end;
  position: relative;
  width: 100%;
  display: flex;
}
.search input {
  width: 250px;
  height: 3.4rem;
  border-radius: 0.4rem;
  border: 1px solid var(--color-light);
  padding: 0 1.2rem;
  font-size: 1rem;
  color: var(--color-dark);
  transition: all 0.3s ease;
}
.actions {
  margin-left: 1%;
  display: flex;
  position: relative;
  gap: 10px;
  align-self: center;
}
.actions button {
  background-color: transparent;
  padding: 0.5rem;
  border-radius: 10px;
}
.itemProd3,
.itemProd {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  justify-items: center;
  gap: 115px;
  text-align: center;
  border-radius: 15px;
  width: 100%;
  background-color: #f0f0f0;
  padding: 10px;
  align-items: center;
}
.itemProd3{
  grid-template-columns: repeat(4, 1fr);
}
#addProd textarea,
#addProd input {
  width: 100%;
  height: 3.4rem;
  border-radius: 0.4rem;
  border: 1px solid var(--color-light);
  padding: 0 1.2rem;
  font-size: 1rem;
  color: var(--color-dark);
  transition: all 0.3s ease;
}
#imagemInput {
  opacity: 0;
}
#file-chosen {
  margin-top: 5px;
  display: flex;
  align-items: center;
}
#file-chosen span {
  color: darkgreen;
  margin-left: 5px;
}
#imagemInputDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#imagemTxt {
  background-color: var(--color-primary);
  color: white;
  width: 65%;
  justify-content: center;
  display: flex;
  padding: 1rem;
  border-radius: 0.3rem;
  cursor: pointer;
  margin-top: 2rem;
}
#addProd button {
  width: 100%;
  height: 3.4rem;
  margin-top: 20px;
  border-radius: 0.4rem;
  border: 1px solid var(--color-light);
  padding: 0 1.2rem;
  font-size: 1rem;
  color: var(--color-dark);
  transition: all 0.3s ease;
  background-color: var(--color-primary);
  color: var(--color-white);
}
#addProd textarea {
  height: 100px;
}
#addProd {
  padding: 2rem;
  position: absolute;
  border-radius: 15px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--color-white);
  width: 350px;
  height: 650px;
  display: none;
  z-index: 0;
  transition: all 0.3s ease-in-out;
}
#modalheader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
#addProd.active {
  z-index: 3;
  display: flex !important;
}
#overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  display: none;
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  background-color: rgba(0, 0, 0, 0);
  z-index: 0;
  transition: all 0.3s ease-in-out;
}
#overlay.active {
  display: block !important;
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}
#logEstoqueBtn,
#addproduto {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  padding-inline: 1rem;
  gap: 10px;
  margin-right: 50px;
}
#addproduto:hover {
  background-color: #3e6694;
}
.itemProd img {
  max-width: 100px;
  height: auto;
}

.itemProd3 p,
.itemProd p {
  margin: 0;
}
.actions button {
  margin-top: 0%;
}
#gridProdutos3,
#gridProdutos {
  overflow-y: scroll;
  width: 85vw;
  display: grid;
  gap: 20px;
  max-height: 37vw;
}

#gridProdutos3 {
  gap: 10px;
}

#gridProdutos img {
  width: auto;
  height: 5rem;
}
.produtos table {
  width: 100%;
}
#itemDiv img {
  border-radius: 8px;
}
#itemDiv3,
#itemDiv {
  display: flex;
}
.table2 tr,
.table tr {
  width: 85vw;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  justify-items: center;
  gap: 20px;
  padding: 10px;
  align-items: center;
}
.table2 tr {
  grid-template-columns: repeat(4, 1fr);
}
.search button {
  width: 3.4rem;
  height: 3.4rem;
  border-radius: 0.4rem;
  border: 1px solid var(--color-light);
  background-color: var(--color-primary);
  color: var(--color-white);
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 0.3s ease;
}
main .analyse .progresss .percentage {
  position: absolute;
  top: -3px;
  left: -1px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

main .new-users {
  margin-top: 1.3rem;
}

main .new-users .user-list {
  background-color: var(--color-white);
  padding: var(--card-padding);
  border-radius: var(--card-border-radius);
  margin-top: 1rem;
  box-shadow: var(--box-shadow);
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 1.4rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

main .new-users .user-list:hover {
  box-shadow: none;
}

main .new-users .user-list .user {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main .new-users .user-list .user img {
  width: 5rem;
  height: 5rem;
  margin-bottom: 0.4rem;
  border-radius: 50%;
}

main .recent-orders {
  margin-top: 1.3rem;
}

main .recent-orders h2 {
  margin-bottom: 0.8rem;
}

main .recent-orders table {
  background-color: var(--color-white);
  width: 100%;
  padding: var(--card-padding);
  text-align: center;
  box-shadow: var(--box-shadow);
  border-radius: var(--card-border-radius);
  transition: all 0.3s ease;
}

main .recent-orders table:hover {
  box-shadow: none;
}

main table tbody td {
  height: 2.8rem;
  border-bottom: 1px solid var(--color-light);
  color: var(--color-dark-variant);
}

main table tbody tr:last-child td {
  border: none;
}

main .recent-orders a {
  text-align: center;
  display: block;
  margin: 1rem auto;
  color: var(--color-primary);
}

.right-section {
  margin-top: 1.4rem;
}

.right-section .nav {
  display: flex;
  justify-content: end;
  gap: 2rem;
}

.right-section .nav button {
  display: none;
}

.right-section .dark-mode {
  background-color: var(--color-light);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 1.6rem;
  width: 4.2rem;
  cursor: pointer;
  border-radius: var(--border-radius-1);
}

.right-section .dark-mode span {
  font-size: 1.2rem;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.right-section .dark-mode span.active {
  background-color: var(--color-primary);
  color: white;
  border-radius: var(--border-radius-1);
}
#gridProdutos2 {
  width: 85vw;
  max-height: 40vw;
  display: grid;
  overflow-y: scroll;
  gap: 10px;
  grid-template-columns: repeat(5, 1fr);
}
#itemDiv2 {
  text-align: center;
  font-weight: bold;
  padding: 1rem;
  width: 90%;
  border-radius: 15px;
  background-color: #e9e9e9;
}
#removequantidade {
  background-color: #ff0060;
  color: white;
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
#quantidadediv {
  margin-top: 2%;
  margin-bottom: 2%;
  align-items: center;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
}
#qtdAtual {
  font-size: 20px;
}
#addquantidade {
  background-color: #1b9c85;
  color: white;
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.itemProd2 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  flex-direction: column;
}
.img2 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}
.itemProd2 img {
  object-fit: cover;
  width: 60%;
  border-radius: 20px;
}
.right-section .nav .profile {
  display: flex;
  gap: 2rem;
  text-align: right;
}

.right-section .nav .profile .profile-photo {
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 50%;
  overflow: hidden;
}

.right-section .user-profile {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 1rem;
  background-color: var(--color-white);
  padding: var(--card-padding);
  border-radius: var(--card-border-radius);
  box-shadow: var(--box-shadow);
  cursor: pointer;
  transition: all 0.3s ease;
}

.right-section .user-profile:hover {
  box-shadow: none;
}

.right-section .user-profile img {
  width: 11rem;
  height: auto;
  margin-bottom: 0.8rem;
  border-radius: 50%;
}

.right-section .user-profile h2 {
  margin-bottom: 0.2rem;
}

.right-section .reminders {
  margin-top: 2rem;
}

.right-section .reminders .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.8rem;
}

.right-section .reminders .header span {
  padding: 10px;
  box-shadow: var(--box-shadow);
  background-color: var(--color-white);
  border-radius: 50%;
}

.right-section .reminders .notification {
  background-color: var(--color-white);
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 0.7rem;
  padding: 1.4rem var(--card-padding);
  border-radius: var(--border-radius-2);
  box-shadow: var(--box-shadow);
  cursor: pointer;
  transition: all 0.3s ease;
}

.right-section .reminders .notification:hover {
  box-shadow: none;
}

.right-section .reminders .notification .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  width: 100%;
}

.right-section .reminders .notification .icon {
  padding: 0.6rem;
  color: var(--color-white);
  background-color: var(--color-success);
  border-radius: 20%;
  display: flex;
}

.right-section .reminders .notification.deactive .icon {
  background-color: var(--color-danger);
}
#adicionar{
  display: flex;
  justify-content: center;
  align-items: center;
}
#addQtd{
  background-color: var(--color-primary);
  color: var(--color-white);
  border-radius: 0.4rem;
  border: 1px solid var(--color-light);
  padding: 0 1.2rem;
  font-size: 1rem;
  align-items: center;
  display: flex;
  cursor: pointer;
  transition: all 0.3s ease;
}
.itemProd2 p{
  font-size: 15px;
}
#qtdAt p{
  margin: 0;
  margin-top: 5%;
  font-weight: normal;
  font-size: 16px !important;
}
#qtdAt span{
  margin: 0;
  margin-top: 5%;
  font-weight: bold;
  font-size: 18px;
}
.itemProd2 input{
  width: 47%;
  text-align: center;
  font-family: "Poppins", sans-serif;
  margin-top: 10%;
  margin-bottom: 10%;
  height: 3.4rem;
  border-radius: 0.4rem;
  border: 1px solid var(--color-light);
  padding: 0 1.2rem;
  font-size: 1rem;
  color: var(--color-dark);
  transition: all 0.3s ease;
}
.right-section .reminders .add-reminder {
  background-color: var(--color-white);
  border: 2px dashed var(--color-primary);
  color: var(--color-primary);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.right-section .reminders .add-reminder:hover {
  background-color: var(--color-primary);
  color: white;
}

.right-section .reminders .add-reminder div {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}

@media screen and (max-width: 1200px) {
  .container {
    width: 95%;
    grid-template-columns: 7rem auto 0;
  }

  aside .toggle .logo img {
    margin-left: 25% !important;
  }
  aside .logo h2 {
    display: none;
  }

  aside .sidebar h3 {
    display: none;
  }

  aside .sidebar a {
    width: 5.6rem;
  }

  aside .sidebar a:last-child {
    position: relative;
    margin-top: 1.8rem;
  }

  main .analyse {
    display: block;
  }

  main .new-users .user-list .user {
    flex-basis: 40%;
  }

  main .recent-orders {
    width: 94%;
    position: absolute;
    left: 62%;
    transform: translateX(-50%);
    margin: 2rem 0 0 0.8rem;
  }

  main .recent-orders table {
    width: 83vw;
  }
}

@media screen and (max-width: 768px) {
  
  .table2 tr,
  .table tr {
    width: auto;
    margin-bottom: -0%;
    gap: 68px;
  }
  .table2 tr {
    margin-top: 20px;
  }

  #gridProdutos2 {
    width: 91vw;
    max-height: 110vw;
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(2, 1fr);
  }
  
#qtdAtual {
  font-size: 15px;
}
#removequantidade,
#addquantidade {
  background-color: #1b9c85;
  width: 2rem;
  height: 2rem;
}
#removequantidade {
  background-color: #ff0060;
}
  #addproduto {
    font-size: 15px;
  }
  .table2,
  .table {
    display: inline-flex;
    width: 88vw;
    flex-direction: row;
  }
  .table table {
    display: inline-flex;
    margin-top: 13%;
  }
  /* .actions {
    display: none;
  } */
  
  .table2 tr,
  .table tr {
    grid-template-columns: repeat(1, 1fr);
    max-width: 88vw;
  }
  .itemProd3,
  .itemProd {
    justify-content: center;
    padding-inline: 4rem;
    height: 100%;
    width: 100%;
    grid-template-columns: repeat(1, 1fr);
  }
  #itemDiv3,
  #itemDiv {
    flex-direction: column;
  }
  #gridProdutos3,
  #gridProdutos {
    overflow-y: hidden;
    display: flex;
    display: inline-flex;
    max-width: 88vw;
    max-height: 600px;
    overflow-x: auto;
  }
  .search {
    width: 88vw;
    margin-top: 2%;
    margin-bottom: 5%;
  }
  main h1 {
    max-width: 88vw;
  }
  .produtos {
    width: 88vw;
  }
  .itemProd3,
  .itemProd {
    gap: 50px;
  }
  .itemProd input {
    width: 100%;
  }
  .search input {
    width: 125px;
  }
  .container {
    width: 88vw;
    grid-template-columns: 1fr;
    padding: 0 var(--padding-1);
  }
  main .analyse > div {
    padding-inline: var(--card-padding) !important;
  }
  aside {
    position: fixed;
    background-color: var(--color-white);
    width: 15rem;
    z-index: 3;
    box-shadow: 1rem 3rem 4rem var(--color-light);
    height: 100vh;
    left: -100%;
    display: none;
    animation: showMenu 0.4s ease forwards;
  }

  @keyframes showMenu {
    to {
      left: 0;
    }
  }

  aside .logo {
    margin-left: 1rem;
  }

  aside .logo h2 {
    display: inline;
  }

  aside .sidebar h3 {
    display: inline;
  }

  aside .sidebar a {
    width: 100%;
    height: 3.4rem;
  }

  aside .sidebar a:last-child {
    position: absolute;
    bottom: 5rem;
  }

  aside .toggle .close {
    display: inline-block;
    cursor: pointer;
  }

  main {
    margin-top: 8rem;
    padding: 0 1rem;
  }

  main .new-users .user-list .user {
    flex-basis: 35%;
  }

  main .recent-orders {
    position: relative;
    margin: 3rem 0 0 0;
    left: 50%;
    width: 100%;
  }

  main .recent-orders table {
    width: 100%;
    margin: 0;
  }

  .right-section {
    width: 94%;
    margin: 0 auto 4rem;
  }

  .right-section .nav {
    position: fixed;
    top: 0;
    left: 0;
    align-items: center;
    background-color: var(--color-white);
    padding: 0 var(--padding-1);
    height: 4.6rem;
    width: 100%;
    z-index: 2;
    box-shadow: 0 1rem 1rem var(--color-light);
    margin: 0;
  }

  .right-section .nav .dark-mode {
    width: 4.4rem;
    position: absolute;
    left: 66%;
  }

  .right-section .profile .info {
    display: none;
  }

  .right-section .nav button {
    display: inline-block;
    background-color: transparent;
    cursor: pointer;
    color: var(--color-dark);
    position: absolute;
    left: 1rem;
  }

  .right-section .nav button span {
    font-size: 2rem;
  }
}
